Frontend:
  impl: GEM5
  clock_ratio: 1

  Translation:
    impl: NoTranslation
    max_addr: 2147483648
              

MemorySystem:
  impl: GenericDRAM
  clock_ratio: 1
  trace_core_enable: false
  trace_ndp_type: false
  trace_path: "/home/mklee/sim_env/run_gem5/ramulator2_config/baseline_trace/baseline_128K_GEMV.txt"
  trace_core_mshr_size: 32

  DRAM:
    impl: DDR5
    org:
      preset: DDR5_16Gb_x4
      channel: 2
      rank: 4
    timing:
      # preset: DDR5_3200AN 
      preset: DDR5_4800B 
      # preset: DDR5_6400AN 
      # preset: DDR5_7200AN 
      # preset: DDR5_8000AN 
      # preset: DDR5_8800AN 
    RFM:
      BRC: 0  
    drampower_enable: true
    voltage:
      preset: Default
    current:
      preset: Default

  Controller:
    impl: Generic
    Scheduler:
      impl: FRFCFS
    RefreshManager:
      impl: AllBank
    RowPolicy:
      impl: OpenRowPolicy
      cap: 4
    plugins:

  AddrMapper:
    # impl: RoCoBaRaCh
    # impl: RoBaRaCoCh
    impl: RoRaCoBaCh
