Frontend:
  impl: GEM5
  clock_ratio: 1

  Translation:
    impl: NoTranslation
    max_addr: 2147483648
              

MemorySystem:
  impl: ndpDRAM
  clock_ratio: 1
  trace_core_enable: false
  trace_ndp_type: false
  trace_path: "/home/mklee/sim_env/run_gem5/ramulator2_config/dbx_ndp_trace/pch_ndp_x4_128K_GEMV.txt"
  # trace_path: "/home/mklee/sim_env/run_gem5/ramulator2_config/dbx_non_ndp_trace/pch_ndp_x4_128K_GEMV.txt"
  trace_core_mshr_size: 32

  DRAM:
    impl: DDR5-pCH
    org:
      # DBX Preset: DDR5_16Gb_x4, DDR5_16Gb_x8, DDR5_16Gb_x16 
      preset: DDR5_16Gb_DBX_x4
      channel: 2
      pseudochannel : 4
      rank: 1
      # DRAM DQs on DIMM-side: 4, 8, 16  
      dq: 4
      real_dq: 4
      # IO Freqeucny Boost: 1 2, 4
      io_boost: 1
    timing:
      # preset: DDR5_3200AN 
      preset: DDR5_4800B 
      # preset: DDR5_6400AN 
      # preset: DDR5_7200AN 
      # preset: DDR5_8000AN 
      # preset: DDR5_8800AN  
    RFM:
      BRC: 0  
    drampower_enable: true
    power_debug: false
    use_db_fetch: true
    ndp_inst_slot: 8
    voltage:
      preset: Default
    current:
      # DBX preset: DDR5_4800x4, DDR5_4800x8, DDR5_4800x16
      preset: DDR5_4800x4

  Controller:
    impl: ndpDRAMCtrl
    Scheduler:
      impl: NDPFRFCFS
    RefreshManager:
      impl: DR5CHAllBank
    RowPolicy:
      # impl: OpenRowPolicy
      impl: ClosedRowPolicyPch
      cap: 128
    plugins:
    ndp_wr_max_age: 256
    ndp_wr_mode_min_time: 256
    dram_rd_mode_min_time: 256
    ndp_read_high_threshold: 0.75
    ndp_write_high_threshold: 0.75
    ndp_read_low_threshold: 0.25
    ndp_write_low_threshold: 0.25

  AddrMapper:
    impl: RoRaCoBaPcCh