Frontend:
  impl: GEM5
  clock_ratio: 1

  Translation:
    impl: NoTranslation
    max_addr: 2147483648
              

MemorySystem:
  impl: ndpDRAM
  clock_ratio: 1

  DRAM:
    impl: DDR5-pCH
    org:
      preset: DDR5_16Gb_x4
      channel: 2
      pseudochannel : 4
      rank: 1
    timing:
      preset: DDR5_3200AN 
      # preset: DDR5_4800B 
      # preset: DDR5_6400AN 
      # preset: DDR5_7200AN 
      # preset: DDR5_8000AN 
      # preset: DDR5_8800AN 
    RFM:
      BRC: 0  
    drampower_enable: false
    use_db_fetch: true
    voltage:
      preset: Default
    current:
      preset: Default

  Controller:
    impl: ndpDRAMCtrl
    Scheduler:
      impl: NDPFRFCFS
    RefreshManager:
      impl: DR5CHAllBank
    RowPolicy:
      impl: OpenRowPolicy
      cap: 4
    plugins:

  AddrMapper:
    impl: RoCoBaRaPcCh
    # impl: RoBaRaCoPcCh
